<template>
  <div class="addgoods">
    <!-- 头部信息 -->
    <el-alert
      title="添加商品信息"
      center
      :closable="false"
      show-icon
      type="info"
    >
    </el-alert>
    <!-- 头部信息结束 -->

    <!-- 步骤条 -->

    <el-steps
      :active="active"
      finish-status="success"
      align-center
      style="width: 1300px; margin: 10px auto"
    >
      <el-step title="基本信息"></el-step>
      <el-step title="商品参数"></el-step>
      <el-step title="商品属性"></el-step>
      <el-step title="商品图片"></el-step>
      <el-step title="商品内容"></el-step>
    </el-steps>
    <!-- 步骤条结束 -->

    <!-- 标签页 -->

    <el-tabs :tab-position="tabPosition" @tab-click="next">
      <el-tab-pane label="基本信息">
        <el-form
          :model="ruleForm"
          :rules="rules"
          ref="ruleForm"
          label-width="100px"
          class="demo-ruleForm"
          label-position="top"
        >
          <el-form-item label="商品名称" prop="goods_name">
            <el-input v-model="ruleForm.goods_name"></el-input>
          </el-form-item>
          <el-form-item label="商品价格" prop="goods_price">
            <el-input v-model="ruleForm.goods_price"></el-input>
          </el-form-item>
          <el-form-item label="商品重量" prop="goods_weight">
            <el-input v-model="ruleForm.goods_weight"></el-input>
          </el-form-item>
          <el-form-item label="商品数量" prop="goods_number">
            <el-input v-model="ruleForm.goods_number"></el-input>
          </el-form-item>
          <el-form-item label="商品分类">
            <div class="block">
              <el-cascader
                v-model="value"
                :options="options"
                @change="handleChange"
                :props="{
                  expandTrigger: 'hover',
                  label: 'cat_name',
                  value: 'cat_id',
                }"
              >
              </el-cascader>
            </div>
          </el-form-item>
        </el-form>
      </el-tab-pane>
      <el-tab-pane label="商品参数">
        <el-form label-position="top">
          <el-form-item
            :label="item.attr_name"
            v-for="item in goodsMsg"
            :key="item.id"
          >
            <el-checkbox
              v-for="(item1, index) in item.attr_vals.split(',')"
              :key="index"
              border
              :label="item1"
              :v-model="true"
            ></el-checkbox>
          </el-form-item>
        </el-form>
      </el-tab-pane>
      <el-tab-pane label="商品属性">
        <el-form
          :model="goodsAttribute"
          label-width="100px"
          class="demo-ruleForm"
          label-position="top"
        >
          <el-form-item
            v-for="(item1, index1) in goodsAttribute.r"
            :key="index1"
            :label="item1.attr_name"
          >
            <el-input v-model="item1.attr_sel"></el-input>
          </el-form-item>
        </el-form>
      </el-tab-pane>
      <el-tab-pane label="商品图片">
        <el-upload
          class="upload-demo"
          action="https://jsonplaceholder.typicode.com/posts/"
        >
          <el-button size="small" type="primary">点击上传</el-button>
        </el-upload>
      </el-tab-pane>
      <el-tab-pane label="商品内容">
        <quill-editor
          v-model="content"
          ref="myQuillEditor"
          :options="editorOption"
          @blur="onEditorBlur($event)"
          @focus="onEditorFocus($event)"
          @change="onEditorChange($event)"
        >
        </quill-editor>
        <el-button type="primary" @click.native="addGoodsAdd"
          >提交商品</el-button
        >
      </el-tab-pane>
    </el-tabs>
    <!-- 标签页结束 -->
  </div>
</template>

<script>
import { categoriesApi, categoriesListApi, addGoodsAddApi } from "@/http/api";
import { quillEditor } from "vue-quill-editor"; //调用编辑器
import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";
import "quill/dist/quill.bubble.css";
export default {
  data() {
    return {
      // 步骤条数值
      active: 1,
      // 标签页方向
      tabPosition: "left",
      // 商品基本信息
      ruleForm: {
        goods_name: "",
        goods_price: "",
        goods_weight: "",
        goods_number: "",
        goods_cat: "",
        attrs: [],
        goods_introduce: "",
        pics: "",
      },
      // 校检基本信息
      rules: {
        goods_name: [
          { required: true, message: "请输入商品名称", trigger: "blur" },
        ],
        goods_price: [
          { required: true, message: "请输入商品价格", trigger: "blur" },
        ],
        goods_weight: [
          { required: true, message: "请输入商品重量", trigger: "blur" },
        ],
        goods_number: [
          { required: true, message: "请输入商品数量", trigger: "blur" },
        ],
      },
      //下拉菜单选中内容
      value: [],
      //下拉菜单数据
      options: [],
      // 下拉菜单选中的id
      goodsid: "",
      // 商品参数
      goodsMsg: "",
      // 商品属性
      goodsAttribute: {},
      // 富文本编辑器
      content: "",
      editorOption: {},
    };
  },

  methods: {
    // 步骤条数值操作
    async next(tab, event) {
      // 设置对应的步骤标
      this.active = Number(tab.index) + 1;
      if (tab.index == 1) {
        if (this.goodsid) {
          var newobj = { sel: "many" };
          const res = await categoriesListApi(this.goodsid, newobj);
          this.goodsMsg = res.data;
          console.log(this.goodsMsg);
        } else {
          this.$message.error("请选择三级菜单");
        }
      } else if (tab.index == 2) {
        if (this.goodsid) {
          var newobj = { sel: "only" };
          const res = await categoriesListApi(this.goodsid, newobj);
          var newobj = { r: res.data };
          this.goodsAttribute = newobj;
          // console.log(this.goodsAttribute);
        } else {
          this.$message.error("请选择三级菜单");
        }
      }
    },
    // 获取选中的下拉菜单数据
    handleChange(value) {
      this.goodsid = value[value.length - 1];
      console.log(value);
    },
    // 下拉菜单数据列表
    async fun() {
      const res = await categoriesApi();
      this.options = res.data;
      console.log(res);
    },
    // 添加商品
    async addGoodsAdd() {
      this.ruleForm.goods_cat = String(this.value);
      console.log(this.ruleForm);
      console.log(this.goodsid);
      const res = await addGoodsAddApi(this.ruleForm);
      this.$router.push({
        name: "goods",
      });
    },
    onEditorReady(editor) {
      // 准备编辑器
    },
    onEditorBlur() {}, // 失去焦点事件
    onEditorFocus() {}, // 获得焦点事件
    onEditorChange() {}, // 内容改变事件
  },
  mounted() {
    this.fun();
  },
  computed: {
    editor() {
      return this.$refs.myQuillEditor.quill;
    },
  },
  components: {
    quillEditor,
  },
};
</script>

<style>
.addgoods {
  padding: 25px;
}
</style>
