<template>
  <div class="categories">
    <el-button type="success" plain @click.native="dialogFormVisible = true"
      >添加分类</el-button
    >

    <el-table :data="tableData" style="width: 100%">
      <el-table-column type="expand">
        <template slot-scope="props">
          <!-- 一-->
          <el-table
            :data="props.row.children"
            style="width: 100%"
            :show-header="false"
          >
            <el-table-column type="expand">
              <template slot-scope="props">
                <!--  二-->
                <el-table
                  :data="props.row.children"
                  style="width: 100%"
                  :show-header="false"
                >
                  <el-table-column label="分类名称" prop="cat_name">
                  </el-table-column>
                  <el-table-column label="级别" prop="cat_level">
                    三级
                  </el-table-column>
                  <el-table-column label="是否有效" prop="">
                    有效
                  </el-table-column>
                  <el-table-column label="操作" prop="desc">
                    <template slot-scope="scope">
                      <el-button
                        type="primary"
                        icon="el-icon-edit"
                        circle
                        @click.native="b(scope.row.cat_id)"
                      ></el-button>
                      <el-button
                        type="danger"
                        icon="el-icon-delete"
                        circle
                        @click.native="del(scope.row.cat_id)"
                      ></el-button>
                    </template>
                  </el-table-column>
                </el-table>
                <!--  -->
              </template>
            </el-table-column>
            <el-table-column label="分类名称" prop="cat_name">
            </el-table-column>
            <el-table-column label="级别" prop="cat_level">
              二级
            </el-table-column>
            <el-table-column label="是否有效" prop=""> 有效 </el-table-column>
            <el-table-column label="操作" prop="desc">
              <template slot-scope="scope">
                <el-button
                  type="primary"
                  icon="el-icon-edit"
                  circle
                  @click.native="b(scope.row.cat_id)"
                ></el-button>
                <el-button
                  type="danger"
                  icon="el-icon-delete"
                  circle
                  @click.native="del(scope.row.cat_id)"
                ></el-button>
              </template>
            </el-table-column>
          </el-table>
          <!--  -->
        </template>
      </el-table-column>
      <el-table-column label="分类名称" prop="cat_name"> </el-table-column>
      <el-table-column label="级别" prop="cat_level"> 一级 </el-table-column>
      <el-table-column label="是否有效" prop=""> 有效 </el-table-column>
      <el-table-column label="操作" prop="desc">
        <template slot-scope="scope">
          <el-button
            type="primary"
            icon="el-icon-edit"
            circle
            @click.native="b(scope.row.cat_id, scope.row.cat_name)"
          ></el-button>
          <el-button
            type="danger"
            icon="el-icon-delete"
            circle
            @click.native="del(scope.row.cat_id)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <!-- 分页 -->
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :page-sizes="[1, 3, 5, 10]"
      :page-size="10"
      layout="total, sizes, prev, pager, next, jumper"
      :total="totalsize"
    >
    </el-pagination>
    <!-- 分页结束 -->
    <!-- 添加分类弹出框 -->
    <el-dialog title="收货地址" :visible.sync="dialogFormVisible">
      <el-form :model="form">
        <el-form-item label="分类名称" :label-width="formLabelWidth">
          <el-input v-model="form.cat_name" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="分类" :label-width="formLabelWidth">
          <el-cascader
            v-model="value"
            :options="options"
            @change="handleChange"
            :props="{
              expandTrigger: 'hover',
              label: 'cat_name',
              value: 'cat_id',
            }"
          >
          </el-cascader>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="cl()">确 定</el-button>
      </div>
    </el-dialog>
    <!-- 添加分类弹出框 -->
    <el-dialog title="收货地址" :visible.sync="dialogFormVisible1">
      <el-form :model="form1">
        <el-form-item label="分类名称" :label-width="formLabelWidth">
          <el-input v-model="form1.cat_name" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible1 = false">取 消</el-button>
        <el-button type="primary" @click="b1()">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  categoriesApi,
  delCategoriesApi,
  classGoodsApi,
  suGoodsApi,
} from "@/http/api";
export default {
  data() {
    return {
      tableData: [],
      //   弹框1
      form: {
        cat_name: "",
        cat_pid: "",
        cat_level: "2",
      },
      dialogFormVisible: false,
      //   弹框2
      dialogFormVisible1: false,
      form1: {
        cat_name: "",
      },
      formLabelWidth: "120px",
      //下拉菜单选中内容
      value: [],
      //下拉菜单数据
      options: [],
      // 下拉菜单选中的id
      goodsid: "",
      id: "",
      pagenum: "0",
      pagesize: "10",
      totalsize: 0,
    };
  },
  methods: {
    // 分页
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
      this.pagesize = val;
      this.fun();
    },
    // 分页
    handleCurrentChange(val) {
      console.log(`当前页: ${val}`);
      this.pagenum = val - 1;
      this.fun();
    },
    //  添加分类
    async cl() {
      this.dialogFormVisible = false;
      this.form.cat_pid = this.value[1];
      console.log(this.form);
      const res = await classGoodsApi(this.form);
      this.fun();
    },
    // 修改分类
    b(id, name) {
      // const res = await suGoodsApi()
      this.form1.cat_name = name;
      this.id = id;
      this.dialogFormVisible1 = true;
    },
    async b1() {
      const res = await suGoodsApi(this.id, this.form1);
      this.dialogFormVisible1 = false;
      this.fun();
    },
    // 删除分类
    async del(id) {
      console.log(id);
      const res = await delCategoriesApi(id);
      console.log(res);
      this.fun();
    },
    // 获取选中的下拉菜单数据
    handleChange(value) {
      //   console.log(value);
    },
    async fun() {
      const res = await categoriesApi();
      this.totalsize = res.data.length;
      this.tableData = res.data;
      console.log(this.tableData);
      this.tableData = this.tableData.splice(this.pagenum, this.pagesize);

      const res1 = await categoriesApi({ type: 2 });
      this.options = res1.data;
      // this.options = this.options.slice(1,2)
      // this.options = this.options.splice(this.pagenum,this.pagesize)
      // console.log(this.options);
      // console.log(res1);
    },
  },
  mounted() {
    this.fun();
  },
};
</script>

<style>
.categories {
  padding: 25px;
}
.demo-table-expand {
  font-size: 0;
}
.demo-table-expand label {
  width: 90px;
  color: #99a9bf;
}
.demo-table-expand .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
  width: 50%;
}
</style>