<template>
  <div class="users">
    <!-- 操作 -->
    <div class="inp">
      <el-input
        placeholder="请输入内容"
        v-model="input3"
        class="input-with-select"
        @keyup.enter.native="inp"
      >
        <el-button slot="append" icon="el-icon-search" @click="inp"></el-button>
      </el-input>
      <el-button type="success" plain @click="adduser()">添加商品</el-button>
    </div>
    <!-- 表格数据 -->
    <el-table :data="tableData" border style="width: 100%">
      <el-table-column type="index" width="50">
        <template slot-scope="scope">
          {{ scope.$index + 1 + tiao * (ye - 1) }}
        </template>
      </el-table-column>
      <el-table-column prop="goods_name" label="商品名称" width="700">
      </el-table-column>
      <el-table-column
        prop="goods_price"
        label="商品价格(元)"
        width="180"
        align="center"
      >
      </el-table-column>
      <el-table-column
        prop="goods_weight"
        label="商品重量"
        width="180"
        align="center"
      >
      </el-table-column>
      <el-table-column
        prop="add_time"
        label="创建日期"
        width="180"
        align="center"
      >
      </el-table-column>
      <el-table-column prop="id" label="操作">
        <template slot-scope="scope">
          <!-- 修改用户数据操作 -->
          <el-button
            type="primary"
            icon="el-icon-edit"
            circle
            plain
            size="mini"
            @click.native="usersubmit0(scope.row.goods_id)"
          ></el-button>
          <!-- 删除用户操作 -->
          <el-button
            type="danger"
            icon="el-icon-delete"
            circle
            plain
            round
            size="mini"
            @click.native="deleteuser(scope.row.goods_id)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <!-- 分页 -->
    <div class="pag">
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :page-sizes="[1, 3, 5, 10]"
        :page-size="10"
        layout="total, sizes, prev, pager, next, jumper"
        :total="msg.nummsg"
      >
      </el-pagination>
    </div>
    <!-- 添加用户弹出的表单 -->
    <el-dialog title="添加用户" :visible.sync="dialogFormVisible">
      <el-form :model="form" :rules="rules" :ref="form">
        <el-form-item
          label="用户名"
          prop="username"
          :label-width="formLabelWidth"
          hide-required-asterisk="true"
        >
          <el-input type="txt" v-model="form.username"></el-input>
        </el-form-item>
        <el-form-item
          label="密码"
          prop="password"
          :label-width="formLabelWidth"
        >
          <el-input type="password" v-model="form.password"></el-input>
        </el-form-item>
        <el-form-item label="电话" prop="mobile" :label-width="formLabelWidth">
          <el-input type="num" v-model="form.mobile"></el-input>
        </el-form-item>
        <el-form-item label="邮箱" prop="email" :label-width="formLabelWidth">
          <el-input type="txt" v-model="form.email"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="adduser(form)"> 确 定 </el-button>
      </div>
    </el-dialog>
    <!-- 添加修改商品的弹窗 -->
    <el-dialog title="修改商品" :visible.sync="ShowUserSubmit">
      <el-form :model="usermsg" :ref="usermsg">
        <el-form-item
          label="商品名称"
          :label-width="formLabelWidth"
          hide-required-asterisk="true"
        >
          <el-input type="txt" v-model="usermsg.goods_name"></el-input>
        </el-form-item>
        <el-form-item label="商品价格" :label-width="formLabelWidth">
          <el-input type="num" v-model="usermsg.goods_price"></el-input>
        </el-form-item>
        <el-form-item label="商品数量" :label-width="formLabelWidth">
          <el-input type="txt" v-model="usermsg.goods_number"></el-input>
        </el-form-item>
        <el-form-item label="商品重量" :label-width="formLabelWidth">
          <el-input type="txt" v-model="usermsg.goods_weight"></el-input>
        </el-form-item>
        <el-form-item label="商品参数" :label-width="formLabelWidth">
          <el-input type="txt" v-model="usermsg.goods_cat"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="ShowUserSubmit = false">取 消</el-button>
        <el-button type="primary" @click="usersubmit(usermsg)">
          确 定
        </el-button>
      </div>
    </el-dialog>
    <!-- 添加分配用户弹出的表单 -->
    <el-dialog title="分配角色" :visible.sync="distributionk">
      <el-form :model="distributionmsg" :ref="distributionmsg">
        <el-form-item
          label="用户名"
          :label-width="formLabelWidth"
          hide-required-asterisk="true"
        >
          <el-input
            type="txt"
            :disabled="true"
            v-model="distributionmsg.username"
          ></el-input>
        </el-form-item>
        <el-form-item label="角色" :label-width="formLabelWidth">
          <el-select v-model="rolemsg.roleName" placeholder="请选择活动区域">
            <el-option label="请选择" value="请选择"></el-option>
            <el-option
              :label="item.roleName"
              :value="item.roleName"
              v-for="item in rolemsg"
              :key="item.id"
            ></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="distributionk = false">取 消</el-button>
        <el-button type="primary" @click="distributiontk(distributionmsg)">
          确 定
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import {
  Users,
  AddUser,
  UserState,
  UserSubmit,
  UserMsg,
  Deleteuser,
  role,
  UsersId,
  goodslist,
  delGoodsApi,
  queryGoodsApi,
  submitGoodsApi,
} from "@/http/api";
export default {
  data() {
    return {
      res: "",
      // 搜索框数据
      input3: "",
      // 用户数据
      tableData: [],
      // 显示条数
      tiao: "10",
      ye: "1",
      msg: {
        nummsg: 1,
      },
      // 添加用户时弹出的框
      dialogFormVisible: false,
      // 修改用户数据时弹出的框
      ShowUserSubmit: false,
      // 弹出框内input的宽度
      formLabelWidth: "80px",
      // 添加用户表单数据
      form: {
        username: "",
        password: "",
        mobile: "",
        email: "",
      },
      // 校检添加用户表单数据
      rules: {
        username: [
          { required: true, message: "请输入用户名", trigger: "blur" },
        ],
        password: [{ required: true, message: "请输入密码", trigger: "blur" }],
      },
      // 编辑用户提交时需要的id
      usersubmitid: "",
      // 编辑用户时需要的用户数据
      usermsg: {},
      // 修改用户数据时弹出的框
      distributionk: false,
      // 分配角色需要的数据
      distributionmsg: {
        username: "张三",
        roleName: "nb",
      },
      // 角色数据
      rolemsg: [],
    };
  },
  methods: {
    // 搜索操作
    async inp() {
      this.msg1(this.input3);
    },
    // 添加用户
    adduser(form) {
      this.$router.push({
        name: "addgoods",
      });
    },
    // 修改用户状态
    async userstate(uid, state) {
      const res = await UserState(Number(uid), state);
      console.log(res);
    },
    // 点击编辑用户时触发的事件
    async usersubmit0(id) {
      this.usersubmitid = id;
      this.ShowUserSubmit = true;
      const res = await queryGoodsApi(id);
      // 获取到当前商品的详情
      this.usermsg = res.data;
      // console.log(this.usermsg);
    },
    // 编辑用户提交
    usersubmit(form) {
      this.$refs[form].validate(async (valid) => {
        if (valid) {
          // 关闭弹出的窗口
          this.ShowUserSubmit = false;
          // console.log(this.usersubmitid);
          // console.log(this.usermsg);
          const res = await submitGoodsApi(this.usersubmitid, this.usermsg);
          // console.log(res)
          this.msg1();
        } else {
          return false;
        }
      });
    },
    // 删除用户操作
    async deleteuser(id) {
      console.log(id);
      const res = await delGoodsApi(id);
      console.log(res);
      this.msg1();
    },
    // 分配用户操作
    async distribution(id) {
      this.distributionk = true;
      // 获取角色列表
      const res = await role();
      this.rolemsg = res.data;
    },
    distributiontk(form) {
      this.$refs[form].validate(async (valid) => {
        if (valid) {
          // 关闭弹出的窗口
          this.distributionk = false;
        } else {
          return false;
        }
      });
    },
    // 分页操作
    async handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
      this.tiao = val;
      const res = await goodslist({ pagenum: 1, pagesize: val });
      // console.log(res);
      this.res = res.data;
      this.fun(res);
    },
    // 分页操作
    async handleCurrentChange(val) {
      console.log(`当前页: ${val}`);
      this.ye = val;
      const res = await goodslist({ pagenum: val, pagesize: this.tiao });
      // console.log(res);
      this.res = res.data;
      this.fun(res);
    },
    // 表格数据
    fun(res) {
      // 引入dayjs
      const dayjs = require("dayjs");
      var arr1 = [];
      res.data.goods.forEach((re, ke) => {
        // 格式化里面的时间戳
        re.add_time = dayjs(re.add_time).format("YYYY-MM-DD HH:mm:ss");
        arr1.push(re);
      });
      this.tableData = arr1;
      console.log(this.tableData);
    },
    async msg1(query_one = "") {
      const res = await goodslist({
        query: query_one,
        pagenum: 1,
        pagesize: 10,
      });
      //   console.log(res);
      this.res = res.data;
      // 获取数据长度
      this.msg.nummsg = res.data.total;
      this.fun(res);
    },
  },
  // 获取用户列表
  async mounted() {
    this.msg1();
  },
};
</script>

<style lang="scss" scoped>
.users {
  height: 1000px;
  padding: 0 25px;
  .inp {
    margin: 20px 0;
    .el-input {
      width: 264px;
      margin-right: 30px;
    }
  }
}
.users ::v-deep .el-dialog {
  width: 500px;
}
</style>