<template>
  <div class="params">
    <!-- 顶部提示 -->
    <el-alert
      title="注意只允许第三级分类设置参数"
      type="warning"
      show-icon
      style="margin: 10px 0"
    ></el-alert>
    <!-- 顶部提示结束 -->
    <!-- 下拉菜单 -->
    <span> 请选择商品分类 </span>
    <el-cascader
      v-model="value"
      :options="options"
      :props="{ expandTrigger: 'hover', label: 'cat_name', value: 'cat_id' }"
      @change="handleChange"
    ></el-cascader>
    <!-- 下拉菜单结束 -->
    <!-- 选项卡 -->
    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="动态参数" name="msg_one">
        <!-- 动态参数 -->
        <el-button
          type="primary"
          :disabled="disabled"
          size="mini"
          @click.native="shezhi"
          >设置参数</el-button
        >
        <!-- 表格数据 -->
        <el-table :data="tableData" style="width: 100%">
          <el-table-column type="expand" label="#">
            <template slot-scope="props">
              <!-- 标签 -->
              <el-tag
                v-for="tag in props.row.attr_vals.split(',')"
                :key="tag"
                closable
                :disable-transitions="false"
                @close="handleClose(tag, props.row.attr_vals, props.row)"
              >
                {{ tag }}
              </el-tag>
              <el-input
                class="input-new-tag"
                v-if="inputVisible"
                v-model="inputValue"
                ref="saveTagInput"
                size="small"
                @keyup.enter="handleInputConfirm(props.row)"
                @blur="handleInputConfirm(props.row)"
              >
              </el-input>
              <el-button
                v-else
                class="button-new-tag"
                size="small"
                @click="showInput"
                >+ New Tag</el-button
              >
              <!-- 标签结束 -->
            </template>
          </el-table-column>
          <el-table-column prop="attr_name" label="属性名称" width="380">
          </el-table-column>
          <el-table-column prop="" label="操作" width="180">
            <template slot-scope="props">
              <el-button
                type="primary"
                icon="el-icon-edit"
                plain
                size="mini"
                @click.native="cl(props.row)"
              ></el-button>
              <el-button
                type="danger"
                icon="el-icon-delete"
                plain
                size="mini"
                @click.native="del(props.row.attr_id)"
              ></el-button>
            </template>
          </el-table-column>
        </el-table>
        <!-- 表格数据结束 -->
        <!-- 动态参数结束 -->
      </el-tab-pane>
      <el-tab-pane label="静态参数" name="msg_two">
        <!-- 静态参数 -->
        <el-button
          type="primary"
          :disabled="disabled"
          size="mini"
          @click.native="shezhi"
          >设置参数</el-button
        >
        <!-- 表格数据 -->
        <el-table :data="tableData1" style="width: 100%">
          <el-table-column prop="attr_name" label="属性名称" width="380">
          </el-table-column>
          <el-table-column prop="" label="属性值" width="180">
          </el-table-column>
          <el-table-column prop="" label="操作" width="180">
            <template slot-scope="props">
              <el-button
                type="primary"
                icon="el-icon-edit"
                plain
                size="mini"
                @click.native="cl(props.row)"
              ></el-button>
              <el-button
                type="danger"
                icon="el-icon-delete"
                plain
                size="mini"
                @click.native="del(props.row.attr_id)"
              ></el-button>
            </template>
          </el-table-column>
        </el-table>
        <!-- 表格数据结束 -->
        <!-- 静态参数结束 -->
      </el-tab-pane>
    </el-tabs>
    <!-- 选项卡结束 -->
    <!-- 弹出框 -->
    <el-dialog title="修改分类参数" :visible.sync="dialogFormVisible">
      <el-form :model="form">
        <el-form-item label="名称" :label-width="formLabelWidth">
          <el-input v-model="form.attr_name" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="分类名称" :label-width="formLabelWidth">
          <el-input v-model="form.attr_vals" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="shezhi1">确 定</el-button>
      </div>
    </el-dialog>
    <!-- 弹出框结束 -->
  </div>
</template>

<script>
import {
  categoriesApi,
  categoriesListApi,
  delfenleiApi,
  shezhiApi,
  compileApi,
} from "@/http/api";
export default {
  data() {
    return {
      //   下拉菜单数据
      options: [],
      //   下拉菜单选中内容
      value: [],
      //   选项卡设置默认值
      activeName: "msg_one",
      //   设置当前设置参数按钮是否禁用
      disabled: true,
      //   设置表格数据
      tableData: [],
      tableData1: [],
      inputVisible: false,
      inputValue: "",
      //   选中的三级id
      id: "",
      //   弹出框
      form: {
        attr_name: "",
        attr_sel: "many",
        attr_vals: "",
      },
      dialogFormVisible: false,
      formLabelWidth: "120px",
      api: "",
      attrid: "",
      inputVisible: false,
      inputValue: "",
    };
  },
  methods: {
    //   设置动态静态参数
    async d() {
      const res = await categoriesListApi(this.id, {
        sel: "many",
      });
      this.tableData = res.data;
      // console.log(this.tableData);
    },
    // 获取并且设置静态参数
    async j() {
      const res1 = await categoriesListApi(this.id, {
        sel: "only",
      });
      this.tableData1 = res1.data;
      // console.log(this.tableData1);
    },
    //  下拉菜单改变事件
    handleChange(value) {
      // 获取到第三级菜单的id
      this.id = value[value.length - 1];
      // var value = value[value.length - 1];
      // 解除设置参数按钮
      this.disabled = false;
      this.d();
      this.j();
    },
    // 选项卡方法
    async handleClick(tab, event) {
      //   console.log(tab);
      //   判断并更改创建时的参数
      if (tab.name == "msg_one") {
        this.form.attr_sel = "many";
      } else {
        this.form.attr_sel = "only";
      }
    },
    // 标签删除
    async handleClose(tag, a, bb) {
      var b = a.split(",");
      b.splice(b.indexOf(tag), 1);
      a = String(b);
      console.log(a);
      // console.log(this.tableData);
      bb.attr_vals = a;
      console.log(bb);
      const res = await compileApi(this.id, bb.attr_id, bb);
    },
    // 标签添加时input
    showInput() {
      this.inputVisible = true;
      this.$nextTick((_) => {
        this.$refs.saveTagInput.$refs.input.focus();
      });
    },
    // 标签添加回车
   async  handleInputConfirm(msg) {
      console.log("ss");
      let inputValue = this.inputValue;
      if (inputValue) {
        // console.log(inputValue);
        // console.log(msg.attr_vals);

        var msg1 = msg.attr_vals.split(",");
        msg1.push(inputValue);
        msg.attr_vals = String(msg1)
        const res = await compileApi(this.id,msg.attr_id,msg)
      }
      this.inputVisible = false;
      this.inputValue = "";
    },
    // 设置
    shezhi() {
      this.dialogFormVisible = true;
      this.api = "one";
      this.form.attr_name = "";
      this.form.attr_vals = "";
    },
    // 设置
    async shezhi1() {
      this.dialogFormVisible = false;

      if (this.form.attr_name == "") {
        this.$message.error("设置失败因为数据是空的");
        return false;
      }

      if (this.api == "one") {
        // 添加参数
        const res = await shezhiApi(this.id, this.form);
      } else {
        // 编辑参数
        const res = await compileApi(this.id, this.attrid, this.form);
      }
      this.d();
      this.j();
    },
    // 编辑
    cl(a) {
      this.api = "two";
      this.dialogFormVisible = true;
      // console.log(a);
      this.attrid = a.attr_id;
      this.form.attr_name = a.attr_name;
      this.form.attr_sel = a.attr_sel;
      this.form.attr_vals = a.attr_vals;
    },
    // 删除
    async del(attrid) {
      const res = await delfenleiApi(this.id, attrid);
      this.d();
      this.j();
    },
    //   获取数据方法
    async fun() {
      // 获取下拉菜单需要的数据
      const res = await categoriesApi();
      //   console.log(res);
      // 给下拉菜单分配数据
      this.options = res.data;
    },
  },
  mounted() {
    //   调用获取数据方法
    this.fun();
  },
};
</script>

<style>
.params {
  padding: 25px;
}

.el-tag + .el-tag {
  margin-left: 10px;
}
.button-new-tag {
  margin-left: 10px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.input-new-tag {
  width: 90px;
  margin-left: 10px;
  vertical-align: bottom;
}
</style>