<template>
  <div class="rights">
    <el-table :data="tableData" height="770" border style="width: 100%">
      <el-table-column type="index" label="#" width="50"> </el-table-column>
      <el-table-column prop="authName" label="权限名称" width="180">
      </el-table-column>
      <el-table-column prop="path" label="路径" width="180"> </el-table-column>
      <el-table-column prop="level" label="层级">
        <template slot-scope="scope">
          <span v-if="scope.row.level == 0">一级</span>
          <span v-if="scope.row.level == 1">二级</span>
          <span v-if="scope.row.level == 2">三级</span>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import { getlistRoleApi } from "@/http/api";
export default {
  data() {
    return {
      // 表格数据
      tableData: [],
    };
  },
  methods: {
    async fun() {
      const res = await getlistRoleApi();
      res.data.forEach((re, ke) => {
        this.tableData.push(re);
      });

      console.log(this.tableData);
    },
  },
  mounted() {
    this.fun();
  },
};
</script>

<style>
.rights {
  padding: 25px;
}
</style>