<template>
  <div class="users">
    <!-- 添加角色操作 -->
    <el-button type="primary" plain @click="playbox.adduser = true"
      >添加角色</el-button
    >
    <!-- 添加角色操作结束 -->
    <!-- 表格数据 -->
    <el-table :data="tableData" border style="width: 100%">
      <!-- 表格二级菜单 -->
      <el-table-column type="expand" prop="children">
        <template slot-scope="props">
          <!-- 第一层 -->
          <el-row v-for="(item, index) in props.row.children" :key="index">
            <el-col :span="4">
              <el-tag closable @close="handleClose(props.row, item)">
                {{ item.authName }}
              </el-tag>
            </el-col>
            <el-col :span="20">
              <!-- 第二层 -->
              <el-row v-for="(item1, index1) in item.children" :key="index1">
                <el-col :span="4">
                  <el-tag
                    closable
                    type="success"
                    @close="handleClose(props.row, item1)"
                  >
                    {{ item1.authName }}
                  </el-tag>
                </el-col>
                <el-col :span="20">
                  <!-- 第三层 -->
                  <el-tag
                    closable
                    type="warning"
                    v-for="(item2, index2) in item1.children"
                    :key="index2"
                    @close="handleClose(props.row, item2)"
                  >
                    {{ item2.authName }}
                  </el-tag>
                </el-col>
              </el-row>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
      <!-- 表格二级菜单结束 -->

      <el-table-column type="index" width="50"> </el-table-column>
      <el-table-column prop="roleName" label="角色名称" width="180">
      </el-table-column>
      <el-table-column prop="roleDesc" label="角色描述" width="180">
      </el-table-column>
      <el-table-column prop="" label="操作">
        <template slot-scope="scope">
          <!-- 编辑 -->
          <el-button
            type="primary"
            plain
            icon="el-icon-edit"
            circle
            size="small"
            @click.native="getrole(scope.row.id)"
          ></el-button>
          <!-- 编辑结束 -->
          <!-- 删除 -->
          <el-button
            type="danger"
            plain
            icon="el-icon-delete"
            circle
            size="small"
            @click.native="deleteRole(scope.row.id)"
          ></el-button>
          <!-- 删除结束 -->
          <!-- 修改角色权限 -->
          <el-button
            type="success"
            plain
            icon="el-icon-check"
            circle
            size="small"
            @click.native="modifyRole(scope.row.id, scope.$index)"
          ></el-button>
          <!-- 修改角色权限结束 -->
        </template>
      </el-table-column>
    </el-table>
    <!-- 表格数据结束 -->
    <!-- 一下皆为弹出框 -->
    <!-- 添加角色弹出框 -->
    <el-dialog title="添加角色" :visible.sync="playbox.adduser" width="700px">
      <el-form :model="adduserform" :rules="adduserrules" :ref="adduserform">
        <el-form-item
          label="角色名称"
          :label-width="formLabelWidth"
          prop="roleName"
        >
          <el-input
            v-model="adduserform.roleName"
            autocomplete="off"
          ></el-input>
        </el-form-item>
        <el-form-item
          label="角色描述"
          :label-width="formLabelWidth"
          prop="roleDesc"
        >
          <el-input
            v-model="adduserform.roleDesc"
            autocomplete="off"
          ></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="playbox.adduser = false">取 消</el-button>
        <el-button
          type="primary"
          @click="addUser(adduserform)"
          style="margin: 0 20px"
        >
          确 定
        </el-button>
      </div>
    </el-dialog>
    <!-- 添加角色弹出框结束 -->
    <!-- 编辑角色 -->
    <el-dialog
      title="编辑角色"
      :visible.sync="playbox.editoreole"
      width="700px"
    >
      <el-form
        :model="editorRoleForm"
        :rules="adduserrules"
        :ref="editorRoleForm"
      >
        <el-form-item label="角色ID" :label-width="formLabelWidth">
          <el-input
            v-model="roleid"
            autocomplete="off"
            :disabled="true"
          ></el-input>
        </el-form-item>
        <el-form-item
          label="角色名称"
          :label-width="formLabelWidth"
          prop="roleName"
        >
          <el-input
            v-model="editorRoleForm.roleName"
            autocomplete="off"
          ></el-input>
        </el-form-item>
        <el-form-item
          label="角色描述"
          :label-width="formLabelWidth"
          prop="roleDesc"
        >
          <el-input
            v-model="editorRoleForm.roleDesc"
            autocomplete="off"
          ></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="playbox.editoreole = false">取 消</el-button>
        <el-button
          type="primary"
          @click="editorRole(editorRoleForm)"
          style="margin: 0 20px"
        >
          确 定
        </el-button>
      </div>
    </el-dialog>
    <!-- 编辑角色结束 -->
    <!-- 修改角色权限弹窗 -->
    <el-dialog title="编辑角色" :visible.sync="playbox.modify" width="700px">
      <!-- <el-form> -->
      <el-tree
        default-expand-all
        :data="allrole"
        show-checkbox
        node-key="id"
        ref="tree"
        :props="defaultProps"
      >
      </el-tree>
      <!-- </el-form> -->
      <div slot="footer" class="dialog-footer">
        <el-button @click="playbox.modify = false">取 消</el-button>
        <el-button type="primary" @click="clrole()" style="margin: 0 20px">
          确 定
        </el-button>
      </div>
    </el-dialog>
    <!-- 修改角色权限弹窗结束 -->
  </div>
</template>
<script>
// 引入api方法
import {
  Roles,
  addRoleApi,
  UserMsg,
  editorRoleApi,
  deleteRoleApi,
  removeRoleApi,
  getRoleApi,
  authRoleApi,
} from "@/http/api";

export default {
  data() {
    return {
      // 表格数据
      tableData: [],
      // 弹框值
      playbox: {
        // 添加角色
        adduser: false,
        // 编辑角色
        editoreole: false,
        // 修改角色权限
        modify: false,
      },
      // 弹出框内input宽度
      formLabelWidth: "120px",
      // 添加角色弹框数据
      adduserform: {
        roleName: "",
        roleDesc: "",
      },
      // 校检添加角色弹窗
      adduserrules: {
        roleName: [
          { required: true, message: "请输入角色名", trigger: "blur" },
          { min: 1, max: 15, message: "请输入角色名", trigger: "blur" },
        ],
        roleDesc: [
          { required: true, message: "请输入角色描述", trigger: "blur" },
          { min: 1, max: 15, message: "请输入角色描述", trigger: "blur" },
        ],
      },
      // 编辑角色弹框数据
      editorRoleForm: {
        roleName: "",
        roleDesc: "",
      },
      // 操作的角色id
      roleid: "",
      // 所有权限
      allrole: [],
      defaultProps: {
        children: "children",
        label: "authName",
      },
      // 角色所有的权限id
      listmsgid: [],
    };
  },
  methods: {
    // 添加角色操作
    addUser(form) {
      this.$refs[form].validate(async (valid) => {
        if (valid) {
          // 关闭弹窗
          this.playbox.adduser = false;
          // 调用添加的方法
          const res = await addRoleApi(this.adduserform);
          // // 刷新数据
          this.fun();
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    // 编辑角色1
    async getrole(id) {
      // 打开弹窗
      this.playbox.editoreole = true;
      // 获取当前角色ID
      this.roleid = id;
      // 获取角色详情
      const res = await UserMsg(this.roleid);
      this.editorRoleForm.roleName = res.data.roleName;
      this.editorRoleForm.roleDesc = res.data.roleDesc;
    },
    // 编辑角色2
    editorRole(form) {
      this.$refs[form].validate(async (valid) => {
        if (valid) {
          // 关闭弹窗
          this.playbox.editoreole = false;
          // 调用添加的方法
          const res = await editorRoleApi(this.roleid, this.editorRoleForm);
          // // 刷新数据
          this.fun();
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    // 删除角色
    async deleteRole(id) {
      const res = await deleteRoleApi(id);
      this.fun();
    },
    // 删除角色指定权限
    async handleClose(rid, rrid = "") {
      // console.log(rid.id, rrid.id);
      const res = await removeRoleApi(rid.id, rrid.id);
      // console.log(res);
      this.fun();
    },
    // 修改角色权限
    async modifyRole(id, index) {
      this.roleid = id;
      // 打开弹窗
      this.playbox.modify = true;
      // 获取所有权限列表
      const res = await getRoleApi();
      this.allrole = res.data;
      // console.log(this.allrole);
      // 获取当前角色的权限

      const res1 = await Roles();
      console.log(res1.data);

      var resmsg = res1.data[index];
      console.log(resmsg);
      var newarr = [];
      for (let i = 0; i < resmsg.children.length; i++) {
        for (let j = 0; j < resmsg.children[i].children.length; j++) {
          newarr = newarr.concat(resmsg.children[i].children[j].children);
        }
      }
      console.log(newarr);
      this.$nextTick(() => {
        this.$refs.tree.setCheckedNodes(newarr);
      });
    },
    // 修改角色权限确定操作
    async clrole() {
      // 关闭弹窗
      this.playbox.modify = false;
      var newstring = [
        ...this.$refs.tree.getHalfCheckedKeys(),
        ...this.$refs.tree.getCheckedKeys(),
      ];
      var obj = {
        rids: String(newstring),
      };
      const res = await authRoleApi(this.roleid, obj);
      this.fun();
    },
    // 获取表格数据
    async fun() {
      const res = await Roles();
      var newarr = [];
      res.data.forEach((re, ke) => {
        re.index = ke;
        newarr.push(re);
      });
      this.tableData = newarr;
      // console.log(this.tableData);
    },
  },
  async mounted() {
    this.fun();
  },
};
</script>

<style lang="scss" scoped>
.users {
  height: 1000px;
  padding: 0px 25px;
  .el-button {
    margin: 20px 0;
  }
}
</style>