<template>
  <div class="orders">
    <el-table :data="tableData" border style="width: 100%">
      <el-table-column type="index" width="50" label="#"> </el-table-column>
      <el-table-column prop="order_number" label="订单编号" width="180">
      </el-table-column>
      <el-table-column prop="order_price" label="订单价格" width="180">
      </el-table-column>
      <el-table-column prop="pay_status" label="是否付款">
        <template slot-scope="scope">
          <el-tag type="danger" v-if="scope.row.pay_status == 0">
            未付款
          </el-tag>
          <el-tag type="success" v-if="scope.row.pay_status == 1">
            已付款
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="is_send" label="是否发货"> </el-table-column>
      <el-table-column prop="create_time" label="创建日期"> </el-table-column>
      <el-table-column prop="address" label="操作">
        <template slot-scope="scope">
          <el-button
            type="primary"
            icon="el-icon-edit"
            plain
            @click.native="cl(scope.row.order_id)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :page-sizes="[1, 3, 5, 10]"
      :page-size="10"
      layout="total, sizes, prev, pager, next, jumper"
      :total="lengths"
    >
    </el-pagination>

    <!-- 弹出的编辑框 -->
    <el-dialog title="收货地址" :visible.sync="dialogFormVisible">
      <el-form :model="form">
        <el-form-item label="订单是否发货" :label-width="formLabelWidth">
          <el-radio v-model="form.is_send" label="否">未发货</el-radio>
          <el-radio v-model="form.is_send" label="是">已发货</el-radio>
        </el-form-item>
        <el-form-item label="订单支付" :label-width="formLabelWidth">
          <el-radio v-model="form.order_pay" label="0">未支付</el-radio>
          <el-radio v-model="form.order_pay" label="1">支付宝</el-radio>
          <el-radio v-model="form.order_pay" label="2">微信</el-radio>
          <el-radio v-model="form.order_pay" label="3">银行卡</el-radio>
        </el-form-item>
        <el-form-item label="商品价格" :label-width="formLabelWidth">
          <el-input v-model="form.order_price" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="支付状态" :label-width="formLabelWidth">
          <el-radio v-model="form.pay_status" label="0">未付款</el-radio>
          <el-radio v-model="form.pay_status" label="1">已付款</el-radio>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click.native="Submit()">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { getOrdersApi, lookOrdersApi, changOrdersApi } from "@/http/api";
export default {
  data() {
    return {
      tableData: [],
      gridData: [],
      dialogTableVisible: false,
      dialogFormVisible: false,
      form: {},
      formLabelWidth: "120px",
      id: "",
      lengths: 0,
      pagesize: 10,
      pagenum: 1,
    };
  },
  methods: {
    async cl(id) {
      this.id = id;
      const res = await lookOrdersApi(id);
      this.form = res.data;
      //   console.log(this.form);
      //   打开弹窗
      this.dialogFormVisible = true;
    },
    async Submit() {
      //关闭弹窗
      this.dialogFormVisible = false;
      const res = await changOrdersApi(this.id, this.form);
      this.fun();
    },

    handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
      this.pagesize = val;
      this.fun(this.pagenum, this.pagesize);
    },
    handleCurrentChange(val) {
      console.log(`当前页: ${val}`);
      this.pagenum = val;
      this.fun(this.pagenum, this.pagesize);
    },

    async fun(a = 1, b = 10) {
      //   console.log(a, b);
      // 引入dayjs
      const dayjs = require("dayjs");
      const res = await getOrdersApi({ pagenum: a, pagesize: b });
      //   console.log(res);
      this.lengths = res.data.total;

      var arr1 = [];
      res.data.goods.forEach((re, ke) => {
        re.index = ke;
        // 格式化时间
        re.create_time = dayjs(re.create_time).format("YYYY-MM-DD HH:mm:ss");
        arr1.push(re);
      });
      this.tableData = arr1;
      //   this.tableData = res.data.goods;
      //   console.log(this.tableData);
    },
  },
  mounted() {
    //   调用数据方法
    this.fun();
  },
};
</script>

<style>
.orders {
  padding: 25px;
}
</style>