<template>
  <div class="about">
    <h1>This is an about page</h1>
    <router-view> </router-view>
  </div>
</template>
<script>
import { getMenus } from "@/http/api";
export default {
  async mounted() {
    const res = await getMenus();
    // console.log(res);
    this.menu = res.data;
  },
};
</script>

