<template>
  <div class="home">
    <el-container style="height: 100vh">
      <el-aside width="auto" style="background-color: #001529">
        <h3 class="logo">
          <span v-show="!isCollapse">后台管理</span>
          <img
            v-show="isCollapse"
            src="https://pc.raz-kid.cn/img/logo.365f729e.jpg"
            alt=""
          />
        </h3>
        <el-menu
          background-color="#001529"
          text-color="#a0a1a3"
          active-text-color="#FFF"
          unique-opened
          :collapse="isCollapse"
          @open="handleOpen"
          @close="handleClose"
          style="border: none"
          :default-active="num"
        >
          <el-submenu
            :index="index + ''"
            :wer="index + ''"
            v-for="(item, index) in menu"
            :key="index"
          >
            <template slot="title">
              <i :class="icon[index]"></i>
              <span>{{ item.authName }} </span>
            </template>
            <el-menu-item-group>
              <el-menu-item
                :index="index + '-' + index1"
                :wer="index + '-' + index1"
                v-for="(item1, index1) in item.children"
                :key="index1"
                @click="sub_menu(index, index1)"
                >{{ item1.authName }}
              </el-menu-item>
            </el-menu-item-group>
          </el-submenu>
        </el-menu>
      </el-aside>

      <el-container>
        <el-header style="text-align: right; font-size: 12px">
          <el-radio-group v-model="isCollapse">
            <el-button
              type="text"
              icon="el-icon-s-fold"
              @click="isCollapse = !isCollapse"
              v-show="!isCollapse"
            ></el-button>
            <el-button
              type="text"
              icon="el-icon-s-unfold"
              v-show="isCollapse"
              @click="isCollapse = !isCollapse"
              style="margin-left: 0px"
            ></el-button>
          </el-radio-group>
          <el-dropdown>
            <i class="el-icon-setting" style="margin-right: 15px"></i>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item @click.native="exits()">退出</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
          <span>{{ $store.state.username }}</span>
        </el-header>

        <el-main>
          <!-- <div class="navtag">
            <el-tag> 用户列表 </el-tag>
            <el-tag v-for="tag in 3" :key="tag.name" closable :type="tag.type">
              {{ tag }}
            </el-tag>
          </div> -->
          <div class="center">
            <div class="cen-nav">
              <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item :to="{ path: '/' }"
                  >首页</el-breadcrumb-item
                >
                <el-breadcrumb-item>{{
                  this.msg.fathermenu
                }}</el-breadcrumb-item>
                <el-breadcrumb-item>{{ this.msg.sonmenu }}</el-breadcrumb-item>
              </el-breadcrumb>
            </div>
            <router-view></router-view>
          </div>
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>

<script>
import { getMenus } from "@/http/api";

var icon = [
  "el-icon-user-solid",
  "el-icon-more",
  "el-icon-s-goods",
  "el-icon-s-order",
  "el-icon-s-data",
];
export default {
  name: "Home",
  data() {
    const item = {
      date: "2016-05-02",
      name: "王小虎",
      address: "上海市普陀区金沙江路 1518 弄",
    };
    return {
      tableData: Array(20).fill(item),
      isCollapse: false,
      menu: "",
      // 设置父菜单下标
      num0: window.localStorage.getItem("fatherindex") || 0,
      // 设置子菜单下标
      num1: window.localStorage.getItem("sonindex") || 0,
      // 获取存在本地的菜单下标
      num: window.localStorage.getItem("menuIndex") || "0-0",
      icon: icon,
      msg: {
        fathermenu: "用户管理",
        sonmenu: "用户列表",
      },
    };
  },
  methods: {
    handleOpen(key, keyPath) {
      // console.log(key, keyPath);
      this.num0 = key;
      // 设置父菜单的下标
      window.localStorage.setItem("fatherindex", key); //设置数据
    },
    handleClose(key, keyPath) {
      // console.log(key, keyPath);
      this.num0 = key;
      // 设置父菜单的下标
      window.localStorage.setItem("fatherindex", key); //设置数据
    },
    sub_menu(index, index1) {


      this.num = index + "-" + index1;
      // 把打开的菜单下标放在本地储存中
      window.localStorage.setItem("menuIndex", this.num); //设置数据
      window.localStorage.setItem("sonindex", index1); //设置数据
      this.$router.push({
        name: this.menu[this.num0].children[index1].path,
      });
      this.msg.fathermenu = this.menu[this.num0].authName;
      this.msg.sonmenu = this.menu[this.num0].children[index1].authName;
      console.log(this.msg.sonmenu);
      // navtag
      var navtag ={
        routername:this.msg.sonmenu,
        routerpath:this.menu[this.num0].children[index1].path
      }
      console.log(navtag);
    },
    // 退出
    exits() {
      this.$store.commit("USERMSG", {
        token: "",
        username: "",
      });
      this.$router.push({
        name: "Login",
      });
    },
  },
  async mounted() {
    const res = await getMenus();
    // console.log(res);
    this.menu = res.data;

    // console.log(this.num1);
    this.msg.fathermenu = this.menu[this.num0].authName;
    this.msg.sonmenu = this.menu[this.num0].children[this.num1].authName;
    // console.log(this.msg.fathermenu, this.msg.sonmenu);
  },
  async beforeRouteEnter(to, from, next) {
    const res = await getMenus(to);
    next();
  },
  components: {},
};
</script>
<style lang="scss" scoped>
.home {
  height: 100vh;

  .el-aside {
    height: 100vh;
    background: rgb(0, 21, 41);
    color: #fff;
    .el-menu {
      &:not(.el-menu--collapse) {
        width: 200px;
        min-height: 400px;
      }
    }
    .logo {
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
      }
    }
  }
  .el-container {
    .el-header {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .el-radio-group {
        margin-right: auto;
        .el-button {
          font-size: 26px;
          color: #000;
          margin-left: 20px;
        }
      }
    }
  }
  .el-main {
    background: #eee;
    .center {
      background: #fff;
    }
    .cen-nav {
      padding: 25px;
      padding-bottom: 0px;
    }
  }
}
</style>
