<template>
  <div class="Login">
    <el-card class="box-card">
      <div slot="header" class="clearfix">
        <span>欢迎登陆</span>
      </div>
      <el-form
        :model="form"
        :rules="rules"
        :ref="form"
        class="demo-ruleForm"
        size="small"
      >
        <el-form-item prop="username">
          <el-input placeholder="请输入内容" v-model="form.username">
            <el-button slot="prepend" icon="el-icon-user-solid"></el-button>
          </el-input>
        </el-form-item>
        <el-form-item prop="password">
          <el-input
            placeholder="请输入内容"
            type="password"
            v-model="form.password"
          >
            <el-button slot="prepend" icon="el-icon-lock"></el-button>
          </el-input>
        </el-form-item>
        <el-form-item>
          <el-button class="but" type="primary" @click="loginbut(form)"
            >登录</el-button
          >
        </el-form-item>
      </el-form>
    </el-card>
  </div>
</template>
<script>
// 本组件引入http
// import { http } from "@/http/index";
import { login } from "@/http/api";
export default {
  data() {
    var validatePass = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("请输入密码"));
      } else {
        callback();
      }
    };
    return {
      form: {
        username: "admin",
        password: "123456",
      },
      rules: {
        username: [
          { required: true, message: "请输入用户名", trigger: "blur" },
          {
            min: 3,
            max: 15,
            message: "长度在 3 到 15 个字符",
            trigger: "blur",
          },
        ],
        password: [{ validator: validatePass, trigger: "blur" }],
      },
    };
  },
  methods: {
    loginbut(form) {
      //校验代码
      this.$refs[form].validate(async (valid) => {
        if (valid) {
          // 校验正确
          // this.$http('login','post',{},this.form);

          const res = await login(this.form);
          // console.log(res.data);
          //调用vuex中方法存储
          this.$store.commit("USERMSG", {
            token: res.data.token,
            username: res.data.username,
          });

          //判断是从哪个页面过来的并跳转回去
          if (this.$route.query.redirect) {
            this.$router.push({
              name: this.$route.query.redirect,
            });
            return;
          }

          //跳转Home
          this.$router.push({
            name: "Home",
          });
        } else {
          // 校验错误
          return false;
        }
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.Login {
  height: 100vh;
  background-image: url("https://file.iviewui.com/admin-dist/img/login-bg.0899ffa6.jpg");
  background-size: cover;
  background-position: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .el-card {
    width: 300px;
    margin-right: 180px;
    .but {
      width: 100%;
    }
  }
}
</style>
