<template>
  <div class="reports">
    <div id="myChart" :style="{ width: '1600px', height: '600px' }"></div>
  </div>
</template>

<script>
import { reportsApi } from "@/http/api";
export default {
  name: "hello",
  data() {
    return {
      msg: "",
    };
  },
  mounted() {
    // 调用获取数据的方法
    this.fun();
  },
  methods: {
    // 折线图数据
    drawLine() {
      var le = this.msg;
      // 基于准备好的dom，初始化echarts实例
      let myChart = this.$echarts.init(document.getElementById("myChart"));
      // 绘制图表
      this.msg.tooltip = {
        trigger: "axis",
        axisPointer: {
          type: "cross",
          label: {
            backgroundColor: "#6a7985",
          },
        },
      };
      var option = this.msg;
      myChart.setOption(option);
    },
    async fun() {
      const res = await reportsApi();
      console.log(res.data);
      this.msg = res.data;

      //   调用折线图
      this.drawLine();
    },
  },
};

</script>

<style>
.reports {
  padding: 25px;
}
</style>
