<template>
  <div class="users">
    <!-- 操作 -->
    <div class="inp">
      <el-input
        placeholder="请输入内容"
        v-model="input3"
        class="input-with-select"
        @keyup.enter.native="inp"
      >
        <el-button slot="append" icon="el-icon-search" @click="inp"></el-button>
      </el-input>
      <el-button type="primary" @click="dialogFormVisible = true"
        >添加用户</el-button
      >
    </div>
    <!-- 表格数据 -->
    <el-table :data="tableData" border style="width: 100%">
      <el-table-column type="index" width="50">
        <template slot-scope="scope">
          {{ scope.$index + 1 + tiao * (ye - 1) }}
        </template>
      </el-table-column>
      <el-table-column prop="username" label="姓名" width="180" align="center">
      </el-table-column>
      <el-table-column prop="email" label="邮箱" width="180" align="center">
      </el-table-column>
      <el-table-column prop="mobile" label="电话" width="180" align="center">
      </el-table-column>
      <el-table-column
        prop="create_time"
        label="创建日期"
        width="180"
        align="center"
      >
        <template slot-scope="scope">
          {{ scope.row.create_time }}
          <!-- {{ dayjs(scope.row.create_time).format('YYYY-MM-DD')}} -->
          <!-- dayjs(1486720211).format('YYYY-MM-DD') -->
        </template>
      </el-table-column>
      <el-table-column
        prop="mg_state"
        label="用户状态"
        width="180"
        align="center"
      >
        <template slot-scope="scope">
          <el-switch
            v-model="scope.row.mg_state"
            active-color="#13ce66"
            inactive-color="#ff4949"
            @click.native="userstate(scope.row.index, scope.row.mg_state)"
          >
          </el-switch>
        </template>
      </el-table-column>
      <el-table-column prop="id" label="操作">
        <template slot-scope="scope">
          <!-- 修改用户数据操作 -->
          <el-button
            type="primary"
            icon="el-icon-edit"
            circle
            @click.native="usersubmit0(scope.row.id)"
          ></el-button>
          <!-- 删除用户操作 -->
          <el-button
            type="danger"
            icon="el-icon-delete"
            circle
            @click.native="deleteuser(scope.row.index)"
          ></el-button>
          <!-- 用户角色分配操作 -->
          <el-button
            type="success"
            icon="el-icon-check"
            circle
            @click.native="
              distribution(
                scope.row.role_name,
                scope.row.username,
                scope.row.index,
                scope.row.id
              )
            "
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <!-- 分页 -->
    <div class="pag">
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :page-sizes="[1, 3, 5, 10]"
        :page-size="Number(this.tiao)"
        layout="total, sizes, prev, pager, next, jumper"
        :total="msg.nummsg"
      >
      </el-pagination>
    </div>
    <!-- 添加用户弹出的表单 -->
    <el-dialog title="添加用户" :visible.sync="dialogFormVisible">
      <el-form :model="form" :rules="rules" :ref="form">
        <el-form-item
          label="用户名"
          prop="username"
          :label-width="formLabelWidth"
          hide-required-asterisk="true"
        >
          <el-input type="txt" v-model="form.username"></el-input>
        </el-form-item>
        <el-form-item
          label="密码"
          prop="password"
          :label-width="formLabelWidth"
        >
          <el-input type="password" v-model="form.password"></el-input>
        </el-form-item>
        <el-form-item label="电话" prop="mobile" :label-width="formLabelWidth">
          <el-input type="num" v-model="form.mobile"></el-input>
        </el-form-item>
        <el-form-item label="邮箱" prop="email" :label-width="formLabelWidth">
          <el-input type="txt" v-model="form.email"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="adduser(form)"> 确 定 </el-button>
      </div>
    </el-dialog>
    <!-- 添加用户修改数据弹出的表单 -->
    <el-dialog title="编辑用户" :visible.sync="ShowUserSubmit">
      <el-form :model="usermsg" :ref="usermsg">
        <el-form-item
          label="用户名"
          :label-width="formLabelWidth"
          hide-required-asterisk="true"
        >
          <el-input
            type="txt"
            :disabled="true"
            v-model="usermsg.username"
          ></el-input>
        </el-form-item>
        <el-form-item label="电话" :label-width="formLabelWidth">
          <el-input type="num" v-model="usermsg.mobile"></el-input>
        </el-form-item>
        <el-form-item label="邮箱" :label-width="formLabelWidth">
          <el-input type="txt" v-model="usermsg.email"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="ShowUserSubmit = false">取 消</el-button>
        <el-button type="primary" @click="usersubmit(usermsg)">
          确 定
        </el-button>
      </div>
    </el-dialog>
    <!-- 添加分配用户弹出的表单 -->
    <el-dialog title="分配角色" :visible.sync="distributionk">
      <el-form :model="distributionmsg" :ref="distributionmsg">
        <el-form-item
          label="用户名"
          :label-width="formLabelWidth"
          hide-required-asterisk="true"
        >
          <el-input
            type="txt"
            :disabled="true"
            v-model="distributionmsg.username"
          ></el-input>
        </el-form-item>
        <el-form-item label="角色" :label-width="formLabelWidth">
          <el-select
            v-model="distributionmsg.role_name"
            placeholder="请选择活动区域"
          >
            <el-option label="请选择" value="请选择"></el-option>
            <el-option
              :label="item.roleName"
              :value="item.id"
              v-for="item in rolemsg"
              :key="item.id"
            ></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="distributionk = false">取 消</el-button>
        <el-button type="primary" @click="distributiontk(distributionmsg)">
          确 定
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import {
  Users,
  AddUser,
  UserState,
  UserSubmit,
  UserMsg,
  UserMsg0,
  Deleteuser,
  role,
  userrole,
  UsersId,
} from "@/http/api";
export default {
  data() {
    return {
      res: "",
      // 搜索框数据
      input3: "",
      // 用户数据
      tableData: [],
      // 显示条数
      tiao: this.$route.query.pagesize || 10,
      ye: this.$route.query.pagenum || 1,
      msg: {
        nummsg: 1,
      },
      // 添加用户时弹出的框
      dialogFormVisible: false,
      // 修改用户数据时弹出的框
      ShowUserSubmit: false,
      // 弹出框内input的宽度
      formLabelWidth: "80px",
      // 添加用户表单数据
      form: {
        username: "",
        password: "",
        mobile: "",
        email: "",
      },
      // 校检添加用户表单数据
      rules: {
        username: [
          { required: true, message: "请输入用户名", trigger: "blur" },
        ],
        password: [{ required: true, message: "请输入密码", trigger: "blur" }],
      },
      // 编辑用户提交时需要的id
      usersubmitid: "",
      // 编辑用户时需要的用户数据
      usermsg: {},
      // 修改用户数据时弹出的框
      distributionk: false,
      // 分配角色需要的数据
      distributionmsg: {
        username: "张三",
        role_name: "nb",
      },
      // 角色数据
      rolemsg: [],
      indexuser: "",
      userindex: "",
    };
  },
  methods: {
    // 搜索操作
    async inp() {
      this.msg1(this.input3);
    },
    // 添加用户
    adduser(form) {
      this.$refs[form].validate(async (valid) => {
        if (valid) {
          this.dialogFormVisible = false;
          const res = await AddUser(this.form);
          // console.log(res);
          this.msg1();
        } else {
          return false;
        }
      });
    },
    // 修改用户状态
    async userstate(index, state) {
      const res = await UserState(Number(index), state);
      console.log(res);
    },
    // 点击编辑用户时触发的事件
    async usersubmit0(id) {
      this.usersubmitid = id;
      this.ShowUserSubmit = true;
      const res = await UserMsg0(id);
      this.usermsg = res.data;
    },
    // 编辑用户提交
    usersubmit(form) {
      this.$refs[form].validate(async (valid) => {
        if (valid) {
          // 关闭弹出的窗口
          this.ShowUserSubmit = false;
          var newobj = {
            email: this.usermsg.email,
            mobile: this.usermsg.mobile,
          };
          const res = await UserSubmit(this.usersubmitid, newobj);
          // console.log(res);
          this.msg1();
        } else {
          return false;
        }
      });
    },
    // 删除用户操作
    async deleteuser(index) {
      var aid = this.tableData[index - 1].id;
      const res = await Deleteuser(aid);
      console.log(res);
      this.msg1();
    },
    // 分配用户操作
    async distribution(role_name, username, index, index1) {
      this.distributionk = true;
      this.distributionmsg.username = username;
      this.distributionmsg.role_name = role_name;
      // 获取角色列表
      const res = await role();
      this.rolemsg = res.data;
      console.log(this.rolemsg);

      this.indexuser = index;
      this.userindex = index1;
    },
    // 分配用户操作表单提交
    distributiontk(form) {
      this.$refs[form].validate(async (valid) => {
        if (valid) {
          // 关闭弹出的窗口
          this.distributionk = false;
          // console.log(rid);
          // console.log(this.userindex);
          const res = await userrole(this.userindex, {
            rid: this.distributionmsg.role_name,
          });
          // console.log(res);
          this.msg1();
        } else {
          return false;
        }
      });
    },
    // 分页操作
    async handleSizeChange(val) {
      console.log(`每页 ${val} 条`);

      // 设置url地址中的参数
      this.$router.push({
        name: "users",
        query: {
          pagesize: val,
          pagenum: this.ye,
        },
      });

      this.tiao = val;
      const res = await Users({ pagenum: 1, pagesize: val });
      // console.log(res);
      this.res = res.data;
      this.fun(res);
    },
    // 分页操作
    async handleCurrentChange(val) {
      console.log(`当前页: ${val}`);

      // 设置url地址中的参数
      this.$router.push({
        name: "users",
        query: {
          pagesize: this.tiao,
          pagenum: val,
        },
      });

      this.ye = val;
      const res = await Users({ pagenum: val, pagesize: this.tiao });
      // console.log(res);
      this.res = res.data;
      this.fun(res);
    },
    // 表格数据
    fun(res) {
      // 引入dayjs
      const dayjs = require("dayjs");

      var arr1 = [];
      res.data.users.forEach((re, ke) => {
        re.index = ke;
        // 格式化时间
        re.create_time = dayjs(re.create_time).format("YYYY-MM-DD HH:mm:ss");
        arr1.push(re);
      });
      this.tableData = arr1;
      console.log(this.tableData);
    },
    async msg1(query_one = "") {
      const res = await Users({
        query: query_one,
        pagenum: this.ye,
        pagesize: this.tiao,
      });
      console.log(res.data);
      this.res = res.data;
      // 获取数据长度
      this.msg.nummsg = res.data.total;
      this.fun(res);
    },
  },
  // 获取用户列表
  async mounted() {
    const dayjs = require("dayjs");
    this.msg1();
    console.log(dayjs(1486720211).format("YYYY-MM-DD"));
  },
};
</script>

<style lang="scss" scoped>
.users {
  height: 1000px;
  padding: 0 25px;
  .inp {
    margin: 20px 0;
    .el-input {
      width: 264px;
      margin-right: 30px;
    }
  }
}
.users ::v-deep .el-dialog {
  width: 500px;
}
</style>